/* ----- Reset ----- */
	*{margin:0;padding:0;box-sizing:border-box;}
	html{font-size: 62.5%;font-family: 'Roboto', sans-serif;}
	li{list-style: none;}
	a{text-decoration: none;}
/**/

/* ----- Colours ----- */
	:root {
	--fg:white;
	--bg:#ffffff;
	}
/**/


/* ----- Default ----- */
	.margin {margin:auto;padding: 0 10px 0 10px;}
	.m-pagewidth {max-width:1080px;}
	.center-text {text-align:center;}
	.flex-row {display:flex;flex-direction:row;}
	.flex-col {display:flex;flex-direction:column;}
/**/

/* ----- Header ----- */
	header {
		background-image: url('/img/header.png');
		background-position: center center;
		background-size: cover;
	}

	/* ----- navigation ----- */
	nav { background-color:white;height:40px;position:fixed;width:100%;}
	.navbar {justify-content:space-between;align-items:center;height:40px;}
	.nav-logo {justify-content:flex-start;font-size: larger;}
	.nav-menu {justify-content:flex-end;font-size: small;}
	.hamburger {display: none;font-size:large;}


	/* ----- title -----*/
	#title-box {align-items:center; padding: 15vmax 40px 21vmax 40px}
	#title {color:var(--fg); font-weight:bolder; font-size: 8em;}
	#tagline {font-size: 2em;color:var(--fg);text-align: center;width: 80%;}
/**/

/* ----- Media queries ----- */
	@media only screen and (max-width: 650px) {

		#title {font-size: 8.5vw;}
		#tagline {font-size: 3vw;}
		.nav-menu{display: none;}
		.hamburger{display: block;}


		@media only screen and (max-width: 300px) {

		}
	}
/**/



